
h1 {
  display: flex;
  justify-content: center;
}

body {
  color: rgb(247, 202, 117);
  background-color: rgb(10, 2, 51);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header {
  display: flex;
  flex-direction: column;
}

.header-image {
  margin: 20px;
}

.backdrop {
  width: 100vw;
  height: 650px;
}