

  .poster {
    box-sizing: border-box;
    /* border: 3px solid black; */
    padding: 10px;
    width: 200px;
    height: 300px;
  }

  .home-button {
    color:rgb(192, 188, 155);
    background-color: rgb(47, 37, 94);
  }