@keyframes spinner {
   
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
 
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    margin-top: 30% ;
  }

  .home-button {
    color:rgb(192, 188, 155);
    background-color: rgb(47, 37, 94);
    margin: 10px;
  }

  .movie-details {
    color:rgb(225, 45, 45);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .movie-title {
    margin: 20px;
    background-color: aliceblue;
    opacity: .8;
  }

  .movie-details-box {
    display: flex;
    width: 1329px;
    height: 401px;
    background: #b0aead;
    opacity: .8;
    margin: 19px;
    flex-direction: column;
  }